/* Style des pages*/
Button {
	-fx-base : #93a4e9;
	-fx-background-radius: 50;
	-fx-border-color : #ffffff;
	-fx-border-radius:50;
	-fx-border-width: 2;
	-fx-text-fill : #ffffff;
}

Button:hover{
	-fx-base : #ffffff;
	-fx-background-radius: 50;
	-fx-border-color : #93a4e9;
	-fx-border-radius:50;
	-fx-text-fill : #93a4e9;
}

TextField{
	-fx-border-color: #ffa998;
}

PasswordField{
	-fx-border-color: #ffa998;
}
ScrollPane{
	-fx-background : transparent;
	-fx-background-color : rgba(161, 222, 255,0.2);
	-fx-border-color : rgba(255,255,255,0.2);
	-fx-border-width : 5px;
}